.box {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 80px auto ;
    transform-style: preserve-3d ;
    animation-name: test ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.front {
    position: absolute;
    width: 50%;
    height: 50%;
    background: blue;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.movefront{

    animation-name: testZ ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.front::before  {
    position: absolute;
    content: "Front";
    color:white;
    top: 20px;
    left: 120px;

}
.back {
    position: absolute;
    width: 50%;
    height: 50%;
    background: red;
    margin: auto ;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.moveback {
    animation-name: testZ1 ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /*animation-direction: reverse ; */
}
.back::before{
    position: absolute;
    content: "Back";
    color: white;
    top: 20px;
    left: 120px;
    transform: rotateY(180deg);

}

@keyframes test {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes testZ {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes testZ1 {
    0% {
        transform: rotateZ(360deg) translateZ(-50px);
    }
    100% {
        transform: rotateZ(0deg) translateZ(-50px);
    }
}
